 @charset "UTF-8";
 
 body {
            background-color: rgb(236, 255, 127); 
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;

        }

        h1 {
            color: rgb(42, 54, 165);
            background-color: darkgoldenrod;
        }

        h2 {
            color: rgb(251, 255, 20);
        }


        p {
            text-align: justify;

        }